[Unit]
Description=Runit Process Supervisor

[Service]
ExecStart=/usr/sbin/runsvdir-start
Restart=always
KillMode=process
OOMScoreAdjust=-1000

[Install]
WantedBy=multi-user.target
